{% extends 'base/file.html' %}

{% block header %} 
    <div class="font-bold text-3xl">Logo</div>
    <p class="font-bold text-3xl">Welcome</p>
    <a href="#" class="bg-black text-white text-xl px-4 py-2 rounded-xl" >Enter</a>
{% endblock %}

{% block main %}
    <h1 class="text-3xl my-6 font-bold">Pygram, your new way to connect!</h1>
    <p class="w-3/4 mx-auto text-xl">In a world increasingly interconnected by technology, the way we connect with others is continuously 
        evolving. Pygram is at the forefront of this digital revolution, offering a fresh and innovative approach to connecting 
        with people on the web. <br> Pygram is not just a platform; it's a vision for the future of connection. It redefines how
         we interact, share experiences, and build relationships on the web. With Pygram, the possibilities are endless, and the world 
         is at your fingertips.</p>
{% endblock %}