{% extends 'base/file.html' %}

{% block title %}Login{% endblock %}

{% block main %}

<form action="{% url 'login' %}" method="POST" class="flex flex-col flex-wrap border rounded-lg bg-[#2b2b2b] py-4">{% csrf_token %}
        <p class="text-white text-4xl p-4">Login</p>
        <input type="text" name="username" id="username" placeholder="Username" class=" px-2 py-1  rounded-lg my-4 w-3/4 mx-auto">
        <input type="password" name="password" id="password" placeholder="Password" class="  py-1 px-2 rounded-lg my-4 w-3/4 mx-auto">
        {% if request.GET.err == 'True' %}
            <p class="text-red-500 italic text-sm">Incorret E-mail or Password. Try again.</p>
        {% endif %}
        <button type="submit" class="bg-black py-2 px-4 mx-auto my-8 text-white rounded-lg text-3xl">Login</button>
    </form>

{% endblock %}